body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Inter, Arial, sans-serif;
    background-color: #111827;
    color: #e5e7eb;
}

.form {
    display: flex;
    flex-direction: column;

}

#main-div {
    display:block;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

#conn-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}