<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/config.css" />
    <title>Configuración de base de datos</title>
</head>
<body>
    <div id="main-div">
        <h4>Conexión a la base de datos Supabase</h4>
        <form class="form">
            <input id="input-url"  type="text" placeholder="Escribe la URL" required>
            <input id="input-key"  type="text" placeholder="Escribe la llave de acceso" required>
            <button id="conn-btn">Conectar</button>
        </form>
    </div>
</body>
<script type="module"  src="renderer.js"></script>
</html>